body {
    background-color: rgb(147, 205, 255);
    color: rgb(0, 0, 0);
    font-family: "Comic Neue", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
  font-family: "Comic Neue", cursiSve;
  background-color: rgb(131, 131, 202);
}